.os-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}

.os-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 3px 12px rgb(0 0 0 / 10%);
  text-align: center;
  max-width: 400px;
}

.os-icon {
  font-size: 60px;
  color: #28a745;
  margin-bottom: 20px;
}

.os-order-id {
  margin: 10px 0 20px;
  font-size: 16px;
}

.os-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.os-home {
  background: #0d6efd;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  width: 100%;
}
