.sod-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.sod-box {
  padding: 20px;
  background: white;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
}

.sod-item {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.sod-item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.sod-btn {
  margin-top: 20px;
  padding: 14px;
  background: #0d6efd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
}
