.order-success {
  padding: 20px;
  text-align: center;
}

.order-success h2 {
  color: #2b3;
  margin-bottom: 10px;
}

.go-orders {
  display: inline-block;
  padding: 12px 20px;
  background: #ff4646;
  color: white;
  border-radius: 8px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 18px;
}
