.profile-card {
  background: #ffd700;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-name {
  font-size: 20px;
  font-weight: bold;
  color: #b42222;
}

.profile-email {
  font-size: 14px;
  color: #333;
}
