.so-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.so-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.so-card {
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
}

.so-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.so-label {
  font-weight: bold;
}

.status {
  padding: 4px 8px;
  border-radius: 6px;
  color: white;
  font-size: 12px;
}

/* Status Colors */
.status.pending {
  background: orange;
}

.status.processing {
  background: blue;
}

.status.out_for_delivery {
  background: purple;
}

.status.delivered {
  background: green;
}

.so-btn {
  margin-top: 15px;
  width: 100%;
  padding: 14px;
  background: #0d6efd;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
