@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kannada:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  background: #e8e8e8;
  font-family: 'Noto Sans Kannada', Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
